:root {
  --primary: #F1E7CE;
  --secondary: #312247;
  --tertiary: #F0C862;
}

body {
  background-color: var(--primary);
  position: absolute;
  top: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  list-style: none;
  position: absolute;
  right: 30px;
  top: 1.7em;
}
nav li {
  display: inline;
  margin: 10px;
}

nav li a {
  text-decoration: none;
  color: var(--primary);
}

nav li a:hover {
  color: #f04fbd;
}

nav li a:active {
  scroll-behavior: smooth;
}

section > :not(h2) {
  background-color: var(--tertiary);
  margin: 10px 20px 15px 130px;
  padding: 15px;
  border-radius: 25px;
  color: var(--secondary);
}

h2 {
  position: absolute;
  color: var(--secondary);
}

.about-me {
  display: flex;
  flex-wrap: wrap;
}

.about-me p {
  max-width: 60%;
}